//============================================================================================
//
// CONTENT TYPE
//
//============================================================================================

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    Margin-bottom: 15px;
}

h1, .h1 {
    letter-spacing: -2px;
}

h2, .h2, h3, .h3 {
    letter-spacing: -1px;
}

small {
    color: $black;
}
