//============================================================================================
//
// SELECTION
//
//============================================================================================

@mixin selection($color, $bg)
{
    ::-moz-selection {
        color: $color;
        background-color: $bg;
    }
    ::selection {
        color: $color;
        background-color: $bg
    }
}
