//============================================================================================
//
// CONTENT
//
//============================================================================================

.wrapper-content {
    background: #fff;
    
    .wrapper-inner {
        padding: 15px 15px 0;
    }
    
    .container {
        background: #fff;
    }
    
    .columns {
        padding-bottom: 0;
    }
}
