//============================================================================================
//
// FOOTER
//
//============================================================================================

.wrapper-footer {
    background: #F3F3F3;
    
    .wrapper-inner {
        padding: 0;
    }
    
    .container {
        background: #F3F3F3;
    }
    
    .columns {
        padding-bottom: 0;
    }
}
