//============================================================================================
//
// FOOTER
//
//============================================================================================

.wrapper-footer {
    color: #fff;
    background-color: $brand-primary;
    padding-top: 30px;
    padding-bottom: 15px;

    a {
        color: $brand-secondary;
    }
}
