//============================================================================================
//
// HEADER
//
//============================================================================================

.wrapper-header {
    background-color: $brand-primary;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-logotip {
    float: left;
}
