//============================================================================================
//
// CONFIG
//
//============================================================================================


//----------------------------------------------
// Grid containers
//----------------------------------------------

$container-simple-max-width: 750px;


//----------------------------------------------
// Body
//----------------------------------------------

$body-bg: #EFF4D5;


//----------------------------------------------
// Colors
//----------------------------------------------

$brand-primary: #0b3c5d;
$brand-secondary: #328cc1;
